body {
    background-color: #4a5c63;
    font-family: "Open Sans", sans-serif;
  }
  header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #894d28;
    z-index: 1;   
  }
  h1 {
    color: #d0d2cc;
    text-align: center;
  }
  h2 {
    color: #d0d2cc;
    text-align: center;
  }
  .container {
    margin-top: 100px;
    text-align: center;
  }
  .input-field {
    text-align: center;
  }

  #allimages {
    margin: 3em;
    padding: 20px;
}

img {
    height: 12em;
    width: 12em;
    margin: 10px;
    border-radius: 5px;
}

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #a37b59;
    color: #422f21;
    border-top: 1px solid #333334;
    text-align: center;
    font-size: smaller;
    line-height: 0.5em;
  }
  
  footer a {
    text-decoration: none;
    color: #dadfbc;
    font-weight: bolder;
  }

  