body {
    margin: 0;
    background-color: #efefef;
    font-family: "Open Sans", sans-serif;
  }

  * {
      box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #EEE;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  h1 {
    color:  #422f21;
    text-align: center;
  }

  h2 {
    color: #d0d2cc;
    text-align: center;
  }

  .container {
    max-width: 1000px;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
  }

  .input-field {
    text-align: center;
    
  }

.allimages {
    width: 100%;
    /* float: left; */
    padding: 30px 15px; 
} 

img {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
}

img:hover {
    opacity: 0.65;
    border: 5px solid grey;
    cursor: pointer;
  }
  
img .hide {
    display: none;
}

img .show {
    display: block;
    animation: show .5s ease;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: max-content;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius: 5px;
    text-align: center;
}

.modal-content img {
    height: auto;
    width: auto;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 24px;
}

.closeBtn:hover, .closeBtn:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer; 
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.pagination {
    width: 100%;
    float: left;
    padding: 15px;
    text-align: center;
    visibility: hidden;
}

.pagination div {
    display: inline-block;
    margin: 0 10px;
}

.pagination .page {
    color: grey;
}

.pagination .prev, .pagination .next {
    color: #000;
    border: 1px solid #000;
    font-size: 15px;
    padding: 7px 15px;
    cursor: pointer;
}

.pagination .prev.disabled,
.pagination .next.disabled {
    border-color: grey;
    color: grey;
    pointer-events: none;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #EEE;;
    color: #422f21;
    border-top: 1px solid #333334;
    text-align: center;
    font-size: smaller;
    line-height: 0.5em;
  }
  
footer a {
    text-decoration: none;
    color: #311e10;
    font-weight: bolder;
  }

  